.svg-on-square{
    width: 120px;
    height: 120px;
    border: solid black;
    border-radius: 10px;
    background-color: black;
    transform: rotate(180deg);
}
.svg-on-square{
    box-shadow: 5px 5px 10 red;
}
.first-circle{
    cx: 20;
    cy: 60;
    r: 5;
    stroke: blue;
    fill: orangered;
}
.second-circle{
    cx: 3;
    cy: 5;
}
.third-circle{
    cx: 14;
    cy: 65;
    r: 9;
}