.quick-grid{
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    border-top: 23px solid black;
    border-bottom: 22px double black;
    justify-content: space-between;
    
}
.die-container{
    position: relative;
    width: 300;
    height: 300;
    display: grid;
    grid-template: 1fr/1fr;
    border: solid black;
    border-radius: 10px;
    /*background-color: red;*/
    animation-name: rotate;
    animation-duration: 12000ms;
    animation-direction: reverse;
    animation-timing-function: ease-in-out;
    margin: -3;
    overflow: hidden;
}
.die-container-white{
    z-index: 10;
    width: 300px;
    height: 300px;
    display: grid;
    grid-template: 1fr/1fr;
    border: solid black;
    border-radius: 10px;
    /*background-color: white;*/
    animation-name: rotate;
    animation-duration: 600s;
    overflow: hidden;
}
.red-fill{

}
.user{
    stroke: rebeccapurple;
}
#dots-five{
    box-shadow: 4px 4px 2px drakgrey;
}
@keyframes rotate{
    0%, 20%, 40%, 80%{transform: rotate(0);}
    10%, 30%, 50%, 100%{transform: rotate(7deg);
}